# An analysis of CAO point from 2019, 2020 and 2021

---

In [1]:
# Regular expressions
import re

# For HTTP requests
import requests as rq

# Dates and Times
import datetime as dt

# Pandas
import pandas as pd

# For saving urls
import urllib.request as urlrq

# FOr only printing top few lines of large datasets
from itertools import islice

In [2]:
# Get current date and time
now = dt.datetime.now()

# Format as string
nowstr = now.strftime('%Y%m%d_%H%M%S')

***

# 2021 CAO Points

https://www.cao.ie/index.php?page=points&p=2021

***

## Note on HTML format for 2021 CAO Points

At the time of starting this project, the CAO points for 2021 were only available in on a HTML webpage. The link above would have another link taking you to this webpage. Presently, that link now links to a .xlsx file. Although the web address for the old HTML webpage of 2021 points still works, it cannot be accessed from the main 2021 page linked to above. While the .xlsx will presumably be updated with any new points, the same cannot be said of the HTML page. I have left the code to access the HTML webpage in but for the analysis of the data, I will be using the data from the .xlsx file.

### Level 8 Courses (HTML)

In [3]:
resp = rq.get('http://www2.cao.ie/points/l8.php')

# Check if working
# Response [200] if working
resp

In [4]:
# Compile the regular expression for matching lines

# This compiler has some issues and does not get all lines needed
# A simpler compiler might be possible
# re_course = re.compile('([A-Z]{2}[0-9]{3})  (.*)([0-9]{3})(\*?) *')

re_course = re.compile('([A-Z]{2}[0-9]{3}.*)')

In [5]:
# Loop through line of the response content
no_lines = 0
for line in resp.iter_lines():
    dline = line.decode('cp1252')
    # Only match lines with courses / points
    if re_course.fullmatch(dline):
        no_lines +=1
        # print(line)
        csv_version = re_course.sub(r'\1', dline)
        # print(csv_version)
print(f"----------------------------------------------------------------------------- \n Total number of lines is {no_lines}.")

-----------------------------------------------------------------------------
 Total number of lines is 949.

In [6]:
# Create file path for saving csv file
path = 'data/cao2021_l8' + nowstr + '.csv'

# Keep track of number of lines
no_lines = 0

with open(path, 'w') as f:
    
    for line in resp.iter_lines():
        dline = line.decode('cp1252')
        if re_course.fullmatch(dline):
            no_lines = no_lines + 1
            linesplit = re.split('  +', dline)
            f.write(','.join(linesplit) + '\n')
        
print(f"Total number of lines is {no_lines}.")

Total number of lines is 949.

### Level 6/7 Courses (HTML)

In [7]:
resp = rq.get('http://www2.cao.ie/points/l76.php')

# Check if working
# Response [200] if working
resp

In [8]:
# Compile the regular expression for matching lines

# This compiler has some issues and does not get all lines needed
# A simpler compiler might be possible
# re_course = re.compile('([A-Z]{2}[0-9]{3})  (.*)([0-9]{3})(\*?) *')

re_course = re.compile('([A-Z]{2}[0-9]{3}.*)')

In [9]:
# Loop through line of the response content
no_lines = 0
for line in resp.iter_lines():
    dline = line.decode('cp1252')
    # Only match lines with courses / points
    if re_course.fullmatch(dline):
        no_lines +=1
        # print(line)
        csv_version = re_course.sub(r'\1', dline)
        # print(csv_version)
print(f"----------------------------------------------------------------------------- \n Total number of lines is {no_lines}.")

-----------------------------------------------------------------------------
 Total number of lines is 416.

In [10]:
# Create file path for saving csv file
path = 'data/cao2021_l76' + nowstr + '.csv'

# Keep track of number of lines
no_lines = 0

with open(path, 'w') as f:
    
    for line in resp.iter_lines():
        dline = line.decode('cp1252')
        if re_course.fullmatch(dline):
            no_lines = no_lines + 1
            linesplit = re.split('  +', dline)
            f.write(','.join(linesplit) + '\n')
        
print(f"Total number of lines is {no_lines}.")

Total number of lines is 416.

### Level 6/7/8 Courses (xlsx)

In [11]:
# Name new excel save files
path = 'data/cao2021_' + nowstr + '.xlsx'

In [12]:
# Save Excel File
urlrq.urlretrieve('http://www2.cao.ie/points/CAOPointsCharts2021.xlsx', path)

('data/cao2021_20211230_194602.xlsx',
 <http.client.HTTPMessage at 0x23109dbcdf0>)

In [13]:
# Download and parse the excel spreadsheet
df2021 = pd.read_excel('http://www2.cao.ie/points/CAOPointsCharts2021.xlsx', skiprows=11)

In [14]:
# Save Pandas dataframe to file
path = 'data/cao2021_' + nowstr + '.csv'

df2021.to_csv(path)

In [15]:
# Filter columns that we want to see
df2021 = df2021[["Course Code", "Course Title", "EOS Points", "EOS Midpoints", "Course Level"]]

In [16]:
 columns = ["Code", "Title", "Points", "MidPoints", "Level"]

In [17]:
df2021.columns = columns

In [18]:
df2021.head()

    Code                            Title Points MidPoints  Level
0  AL605  Music and Instrument Technology    211       319      6
1  AL630              Pharmacy Technician    308       409      6
2  AL631                   Dental Nursing    311       400      6
3  AL632                  Applied Science    297       454      6
4  AL650                         Business    AQA       351      6

***

# 2020 CAO Points

https://www.cao.ie/index.php?page=points&p=2020

***

In [19]:
# Name new excel save files
path = 'data/cao2020_' + nowstr + '.xlsx'

In [20]:
# Save Excel File
urlrq.urlretrieve('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', path)

('data/cao2020_20211230_194602.xlsx',
 <http.client.HTTPMessage at 0x2311b37ef40>)

In [21]:
# Download and parse the excel spreadsheet
df2020 = pd.read_excel('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', skiprows=10)

In [22]:
# Save Pandas dataframe to file
path = 'data/cao2020_' + nowstr + '.csv'

df2020.to_csv(path)

In [23]:
# Filter columns that we want to see
df2020 = df2020[["COURSE CODE2", "COURSE TITLE", "EOS", "EOS Mid-point", "LEVEL"]]

In [24]:
df2020.columns = columns

In [25]:
df2020.head()

,Code,Title,Points,MidPoints,Level
0,AC120,International Business,209,280,8
1,AC137,Liberal Arts,252,270,8
2,AD101,"First Year Art & Design (Common Entry,portfolio)",#+matric,#+matric,8
3,AD102,Graphic Design and Moving Image Design (portfo...,#+matric,#+matric,8
4,AD103,Textile & Surface Design and Jewellery & Objec...,#+matric,#+matric,8

***

# 2019 CAO Points

https://www.cao.ie/index.php?page=points&p=2019

***

### Steps to reproduce

1. Download original pdf file
2. Open original pdf file in Microsoft Word
3. Save Microsoft Word's converted pdf in docx format
4. Re-save Word document for editing
5. Delete headers and footers
6. Delete preamble on page 1
7. Select all and copy
8. Paste into Excel
9. Manually delete blank lines
10. Save as xlsx document

### Level 8 Courses

In [26]:
# assign name for saving data
path = 'data/cao2019_l8' + nowstr + '.tsv'

In [27]:
# Convert downlaoded excel to dataframe
df2019L8 = pd.read_excel('data/cao2019_20211102_200630.xlsx')

In [28]:
# Save as csv
df2019L8.to_csv(path, sep= '\t')

In [29]:
# Rename columns to match other dfs
df2019L8.columns = columns[:-1]

In [30]:
df2019L8["Level"] = "8"

In [31]:
df2019L8.head()

,Code,Title,Points,MidPoints,Level
0,AL801,Software Design with Virtual Reality and Gaming,304,328.0,8
1,AL802,Software Design with Cloud Computing,301,306.0,8
2,AL803,Software Design with Mobile Apps and Connected...,309,337.0,8
3,AL805,Network Management and Cloud Infrastructure,329,442.0,8
4,AL810,Quantity Surveying,307,349.0,8

### Level 6/7 Courses

In [32]:
# assign name for saving data
path = 'data/cao2019_l67' + nowstr + '.tsv'

In [33]:
# Convert downlaoded excel to dataframe
df2019L67 = pd.read_excel('data/cao2019_20211202_193530_l67.xlsx')

In [34]:
# Save as csv
df2019L67.to_csv(path, sep= '\t')

In [35]:
# Rename columns to match other dfs
df2019L67.columns = columns[:-1]

In [36]:
df2019L67["Level"] = "6/7"

In [37]:
df2019L67.head()

    Code                   Title Points  MidPoints Level
0  AL600         Software Design    205      306.0   6/7
1  AL601    Computer Engineering    196      272.0   6/7
2  AL602  Mechanical Engineering    258      424.0   6/7
3  AL604       Civil Engineering    252      360.0   6/7
4  AL630     Pharmacy Technician    306      366.0   6/7

## Joining of Years

In [38]:
# Append level 6/7s to level 8s
df2019 = df2019L8.append(df2019L67)

In [39]:
df2019L8.count()

Code         930
Title        930
Points       926
MidPoints    915
Level        930
dtype: int64

In [40]:
df2019L67.count()

Code         461
Title        461
Points       454
MidPoints    453
Level        461
dtype: int64

In [41]:
df2019.count()

Code         1391
Title        1391
Points       1380
MidPoints    1368
Level        1391
dtype: int64

## Joining of Dataframes

In [42]:
# Assign different column names in preparation for merging
columns2021 = ["Code", "Title", "2021Points", "2021MidPoints", "2021Level"]
columns2020 = ["Code", "Title", "2020Points", "2020MidPoints", "2020Level"]
columns2019 = ["Code", "Title", "2019Points", "2019MidPoints", "2019Level"]

In [43]:
df2021.columns = columns2021
df2020.columns = columns2020
df2019.columns = columns2019

In [44]:
df2021.head()

    Code                            Title 2021Points 2021MidPoints  2021Level
0  AL605  Music and Instrument Technology        211           319          6
1  AL630              Pharmacy Technician        308           409          6
2  AL631                   Dental Nursing        311           400          6
3  AL632                  Applied Science        297           454          6
4  AL650                         Business        AQA           351          6

In [45]:
df2020.head()

,Code,Title,2020Points,2020MidPoints,2020Level
0,AC120,International Business,209,280,8
1,AC137,Liberal Arts,252,270,8
2,AD101,"First Year Art & Design (Common Entry,portfolio)",#+matric,#+matric,8
3,AD102,Graphic Design and Moving Image Design (portfo...,#+matric,#+matric,8
4,AD103,Textile & Surface Design and Jewellery & Objec...,#+matric,#+matric,8

In [46]:
df2019.head()

,Code,Title,2019Points,2019MidPoints,2019Level
0,AL801,Software Design with Virtual Reality and Gaming,304,328.0,8
1,AL802,Software Design with Cloud Computing,301,306.0,8
2,AL803,Software Design with Mobile Apps and Connected...,309,337.0,8
3,AL805,Network Management and Cloud Infrastructure,329,442.0,8
4,AL810,Quantity Surveying,307,349.0,8

In [47]:
dfcao = pd.merge(df2021, df2020, on="Code", how="outer")

In [48]:
dfcao.count()

Code             1558
Title_x          1451
2021Points       1422
2021MidPoints    1433
2021Level        1451
Title_y          1464
2020Points       1448
2020MidPoints    1437
2020Level        1464
dtype: int64

In [49]:
dfcao = pd.merge(dfcao, df2019, on = "Code", how = "outer")

In [50]:
dfcao.count()

Code             1812
Title_x          1451
2021Points       1422
2021MidPoints    1433
2021Level        1451
Title_y          1464
2020Points       1448
2020MidPoints    1437
2020Level        1464
Title            1391
2019Points       1380
2019MidPoints    1368
2019Level        1391
dtype: int64

### Removing NaNs
For the analysis of the points across the years, means etc will be thrown off if we include some courses that are present in some years and not in others. We will create a dataframe that only has courses that were present across all 3 years.

In [51]:
dfcao = dfcao.dropna()

In [52]:
dfcao.count()

Code             1048
Title_x          1048
2021Points       1048
2021MidPoints    1048
2021Level        1048
Title_y          1048
2020Points       1048
2020MidPoints    1048
2020Level        1048
Title            1048
2019Points       1048
2019MidPoints    1048
2019Level        1048
dtype: int64

In [53]:
dfcao.head()

,Code,Title_x,2021Points,2021MidPoints,2021Level,Title_y,2020Points,2020MidPoints,2020Level,Title,2019Points,2019MidPoints,2019Level
1,AL630,Pharmacy Technician,308,409,6.0,Pharmacy Technician,295,379,6.0,Pharmacy Technician,306,366.0,6/7
2,AL631,Dental Nursing,311,400,6.0,Dental Nursing,298,388,6.0,Dental Nursing,326,379.0,6/7
3,AL632,Applied Science,297,454,6.0,Applied Science,234,434,6.0,Applied Science,243,372.0,6/7
4,AL650,Business,AQA,351,6.0,Business,207,326,6.0,Business,210,317.0,6/7
5,AL660,Culinary Arts,AQA,271,6.0,Culinary Arts,112,270,6.0,Culinary Arts,AQA,216.0,6/7

In [54]:
dfcao = dfcao.drop(["Title_y", "Title"], axis = 1)

In [55]:
dfcao

,Code,Title_x,2021Points,2021MidPoints,2021Level,2020Points,2020MidPoints,2020Level,2019Points,2019MidPoints,2019Level
1,AL630,Pharmacy Technician,308,409,6.0,295,379,6.0,306,366.0,6/7
2,AL631,Dental Nursing,311,400,6.0,298,388,6.0,326,379.0,6/7
3,AL632,Applied Science,297,454,6.0,234,434,6.0,243,372.0,6/7
4,AL650,Business,AQA,351,6.0,207,326,6.0,210,317.0,6/7
5,AL660,Culinary Arts,AQA,271,6.0,112,270,6.0,AQA,216.0,6/7
...,...,...,...,...,...,...,...,...,...,...,...
1444,WD208,Manufacturing Engineering,317,368,7.0,188,339,7.0,195,330.0,6/7
1445,WD210,Software Systems Development,260,373,8.0,279,337,8.0,271,329.0,8
1446,WD211,Creative Computing,270,392,8.0,271,318,8.0,275,322.0,8
1447,WD212,Recreation and Sport Management,262,304,8.0,270,349,8.0,274,311.0,8
1448,WD230,Mechanical and Manufacturing Engineering,230,361,8.0,253,369,8.0,273,348.0,8

In [56]:
# Enabling this option allows for a scan of all rows in dataframe
# pd.options.display.max_rows = None

In [57]:
# Check for different levels in courses across years
dfcao.loc[(dfcao["2021Level"] == 8.0) & (dfcao["2020Level"] != 8.0)]

Empty DataFrame
Columns: [Code, Title_x, 2021Points, 2021MidPoints, 2021Level, 2020Points, 2020MidPoints, 2020Level, 2019Points, 2019MidPoints, 2019Level]
Index: []

In [58]:
dfcao.loc[(dfcao["2021Level"] == 8.0) & (dfcao["2019Level"] != "8")]

Empty DataFrame
Columns: [Code, Title_x, 2021Points, 2021MidPoints, 2021Level, 2020Points, 2020MidPoints, 2020Level, 2019Points, 2019MidPoints, 2019Level]
Index: []

In [59]:
dfcao.loc[(dfcao["2021Level"] == 7.0) & (dfcao["2020Level"] != 7.0)]

Empty DataFrame
Columns: [Code, Title_x, 2021Points, 2021MidPoints, 2021Level, 2020Points, 2020MidPoints, 2020Level, 2019Points, 2019MidPoints, 2019Level]
Index: []

In [60]:
dfcao.loc[(dfcao["2021Level"] == 6.0) & (dfcao["2020Level"] != 6.0)]

Empty DataFrame
Columns: [Code, Title_x, 2021Points, 2021MidPoints, 2021Level, 2020Points, 2020MidPoints, 2020Level, 2019Points, 2019MidPoints, 2019Level]
Index: []

In [61]:
dfcao.loc[(dfcao["2021Level"] == 7.0) & (dfcao["2019Level"] != "6/7")]

Empty DataFrame
Columns: [Code, Title_x, 2021Points, 2021MidPoints, 2021Level, 2020Points, 2020MidPoints, 2020Level, 2019Points, 2019MidPoints, 2019Level]
Index: []

In [62]:
dfcao.loc[(dfcao["2021Level"] == 6.0) & (dfcao["2019Level"] != "6/7")]

Empty DataFrame
Columns: [Code, Title_x, 2021Points, 2021MidPoints, 2021Level, 2020Points, 2020MidPoints, 2020Level, 2019Points, 2019MidPoints, 2019Level]
Index: []

Because all course levels are the same across the years, we can remove the 2020 and 2019 levels.

In [63]:
#Remove 2020 and 2019 levels
dfcao = dfcao.drop(["2020Level", "2019Level"], axis = 1)

In [64]:
dfcao.head()

,Code,Title_x,2021Points,2021MidPoints,2021Level,2020Points,2020MidPoints,2019Points,2019MidPoints
1,AL630,Pharmacy Technician,308,409,6.0,295,379,306,366.0
2,AL631,Dental Nursing,311,400,6.0,298,388,326,379.0
3,AL632,Applied Science,297,454,6.0,234,434,243,372.0
4,AL650,Business,AQA,351,6.0,207,326,210,317.0
5,AL660,Culinary Arts,AQA,271,6.0,112,270,AQA,216.0

In [65]:
# Rename title and level columns
dfcao = dfcao.rename(columns = {"Title_x": "Title", "2021Level": "Level"})

In [66]:
dfcao.head()

,Code,Title,2021Points,2021MidPoints,Level,2020Points,2020MidPoints,2019Points,2019MidPoints
1,AL630,Pharmacy Technician,308,409,6.0,295,379,306,366.0
2,AL631,Dental Nursing,311,400,6.0,298,388,326,379.0
3,AL632,Applied Science,297,454,6.0,234,434,243,372.0
4,AL650,Business,AQA,351,6.0,207,326,210,317.0
5,AL660,Culinary Arts,AQA,271,6.0,112,270,AQA,216.0

In [67]:
# Rearrange columns
dfcao = dfcao[["Code", "Title","Level","2021Points","2021MidPoints","2020Points","2020MidPoints","2019Points","2019MidPoints"]]

In [68]:
dfcao.head()

,Code,Title,Level,2021Points,2021MidPoints,2020Points,2020MidPoints,2019Points,2019MidPoints
1,AL630,Pharmacy Technician,6.0,308,409,295,379,306,366.0
2,AL631,Dental Nursing,6.0,311,400,298,388,326,379.0
3,AL632,Applied Science,6.0,297,454,234,434,243,372.0
4,AL650,Business,6.0,AQA,351,207,326,210,317.0
5,AL660,Culinary Arts,6.0,AQA,271,112,270,AQA,216.0

---
# End